.ti {
    padding: 1em;
}

.box {
	border: solid 4px #2589d0;
	border-radius: 10px;
    position: relative;
	padding: 1em;
    width: 80%;
}

.is-size-0 {
    font-size: 4rem;
}

.box_title {
    position: absolute;
	padding: 0 0.5em;
	left: 30px;
	top: -10px;
	background: rgba(255,255,255,1);
	font-weight: bold;
	color: #2589d0;
}

.box_unit {
    position: absolute;
    font-size: 2em;
	padding: 0 0.5em;
	left: 80%;
	top: 60%;
	background: rgba(255,255,255,0);
	font-weight: bold;
	color: #262626;
}

.navbar-item{
    border: solid 1px #FFFFFF;
    width:33.3333%;
    height: 4em;
    background: #2589d0
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 2em;
    margin: 0 auto;
    border: none;
    border-radius: 5px;
    background-color: #2589d0;
    color: #fff;
    font-weight: 500;
    font-size: 2em;
}

#item-mordal {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 40vh; /* 画面の1/3の高さ */
    background-color: #f1f1f1;
    transition: bottom 0.3s ease-in-out;
}
  
#item-mordal.open {
    bottom: 0;
}

#other-mordal {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 40vh; /* 画面の1/3の高さ */
    background-color: #f1f1f1;
    transition: bottom 0.3s ease-in-out;
}
  
#other-mordal.open {
    bottom: 0;
}