body {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    width: 100%;
    position: relative;
    height: 100vh;
    margin: 0;
}

#loadingMessage {
    text-align: center;
    padding: 40px;
    background-color: #eee;
}

#canvas {
    width: 100%;
    position: relative;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}

#output {
    margin-top: 20px;
    background: #eee;
    padding: 10px;
    padding-bottom: 0;
}

#output div {
    padding-bottom: 10px;
    word-wrap: break-word;
}

#noQRFound {
    text-align: center;
}

.navbar-item{
    border: solid 1px #FFFFFF;
    width: 33.3333%;
    height: 4em;
    background: #2589d0;
}